<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1 footer'>
      <footer role="contentinfo">
        <p class='text-center'><small>Copyright &copy; David Tan</small></p>
      </footer>
    </div>
  </div>
</div>
